@import url('https://fonts.cdnfonts.com/css/liberation-mono');

/* Color palette */
:root {
  --c-white: #ffffff;
  --c-white-soft: #f8f8f8;
  --c-white-muted: #cdcdcd;
  --c-black: #000000;
  --c-black-soft: #1b1b1b;
  --c-indigo: #130f30;
  --c-slate: #5765c4;
  --c-slate-dark: #232c63;
}

/* Semantic colors */
:root {
  --gradient-background: linear-gradient(var(--c-indigo), var(--c-black));
  --color-background-soft: var(--c-black-soft);
  --color-border: var(--c-white-soft);
  --color-heading: var(--c-white-soft);
  --color-text: var(--c-white-muted);
  --color-text-hover: var(--c-white-muted);
  --color-link: var(--c-slate);
  --color-link-hover: var(--c-slate-dark);
  --section-gap: 160px;
}

* {
  box-sizing: border-box;
  margin: 0;
  border-color: var(--color-border);
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background-image: var(--gradient-background);
  transition:
    color 0.5s;
  line-height: 1.6;
  /* stackoverflowcore */
  font-family: Liberation Mono, sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  color: var(--color-link);
  transition: 0.4s;
  padding: 3px;
}

a:hover {
  background-color: var(--color-link-hover);
}